Package: com.yourcompany.nezutweak
Name: NezuTweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: LINE Newsタブを削除するTweak
Maintainer: nezumi0627
Author: nezumi0627
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)