Package: com.yourcompany.nezu_tweak
Name: nezu_tweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome Orion tweak!
Maintainer: nezumi0627
Author: nezumi0627
Section: Tweaks
Depends: ${ORION}, firmware (>= 12.2)
